.portfolio_img {
    width: 90%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.narwal_icon {
  width: 25%;
  height: auto;
}

.title {
  display: flex;
  justify-content: space-between;
}

.fade-in {
    transition: opacity 1s ease;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}

.navbar-custom{
    background-color: #87cefa;;
    font-size: larger;
}

.button {
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    color: white;
    height: 50px;
    font-size: x-large;
    font-weight: 100;
    margin-bottom: 2%;
    border-radius: 25px;
  }
  h1, h2, h3, h4 {
    font-family: Palatino, cursive;
  }
  p {
      font-size: large;
  }
  h1 {
    text-align: center;
    font-size: 3vw;
    margin-top: 5vh;
  }

  
  .about {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    /* height: 300px; */
    margin-left: 20%;
    margin-right: 20%;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: 1fr;
  }
  
  .grid-item {
    text-align: center;
    border-color: rgb(14, 1, 154);
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: groove;
    border-radius: 25px;
    margin: 1.5%;
  }

  .project {
    padding: 10px;
  }
