.App {
  text-align: center;
}

.about {
  text-align: center;
  font-size: xx-large;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item {
  text-align: center;
}
